* {
    box-sizing: border-box;
    font-family: "Permanent Marker";
}


.wrapper {
    font-size: initial;
    position: relative;
    height: 100vh;
    width: 99vw;
    margin: 0 auto;
    background-image: url(images/chalkboard.jpg);
    background-size: cover;
    background-repeat: repeat;
}
/******************* NAV SECTION *******************/
nav {
    position: relative;
    height: 9vh;
}
h3 {
    text-align: center;
    color: white;
    font-size: 200%;
    margin: 0 auto;
}
h3 span {color: red}
.reset-button {
    color: yellow;
    font-size: 1.5em;
    display: block;
    text-align: center;
    position: absolute;
    background-color: transparent;
    top: 1em;
    right: 2em;
}
.restore-button {
    color: yellow;
    font-size: 1.5em;
    display: block;
    text-align: center;
    position: absolute;
    background-color: transparent;
    top: 1em;
    left: 2em;
}
.row-number {
    display: block;
    #padding: .3em;
    position: absolute;
    left: 3em;
    color: white;
    font-size: 1.3em;
}
.matches-number {
    display: block;
    #padding: .3em;
    position: absolute;
    right: 3em;
    color: white;
    font-size: 1.4em;
}
input {
    color: white;
    border-radius: 2px;
    border:0px;
    box-shadow: 2px 2px 8px black inset;
    background-color: #404040;
}
input[type="submit"] {
    color: black;
    box-shadow: 2px 2px 8px black;
    background-color: 	white;
}
select {
    color: black;
}
h4 {
    -webkit-margin-before: 2em;
    -webkit-margin-after: 0;
}
/******************* PLAYERS SECTION *******************/
.players {
    position: relative;
    height: 5vh;
    width: auto;
    margin: 0 auto;
}
.player {
    height: auto;
    display: inline-block;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-170%);
    bottom: 0;
}
.vs {
    display: inline-block;
    color: white;
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: .5em;
}
.player2 {
    position: absolute;
    padding: 0;
    left: 50%;
    transform: translateX(70%);
    transition-duration: 5s;
    font-size: 1em;
}
.player1 {
    transition-duration: 5s;
    font-size: 1em;
}
.winner {
    z-index: 5;
    font-size: 2em;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    /****add style*/
}
div.players > div.vs > span:nth-child(2) {color: lawngreen;}
div.players > div.vs > span:nth-child(1) {color: red;}
div.player.player1.appended {font-size: 3em; color: lawngreen;}
div.player.player1.appended > span {font-size: .5em; color: lawngreen;}
div.player.player2.appended {font-size: 3em; color: red;}
div.player.player2.appended > span {font-size: .5em; color: red;}
@keyframes glowing {
    0% {text-shadow: 0 0 20px yellow;}
    50% {text-shadow: 0 0 20px orange;}
    100% {text-shadow: 0 0 20px red;}
}
.animate {
    animation: glowing 1000ms infinite;}

/*******************BOARD*******************/
.game_board {
    /*border: 1px solid yellow;*/
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
    font-size: 0;
    #transition-duration: 5s;
}

.cell{width: 2em; #background-color: lightgreen; border: 1px solid white;height: 2em; display: inline-block; margin: 0; padding: 0;}
.ex {background: url("images/x.png") no-repeat;
    background-size: contain;}
.ow {background: url(images/o.png) no-repeat;
    background-size: contain;}

/************** WIN MODAL ******************/


.modal-dialog {border: 1px solid red;
    min-width: 1300px !important;
}
.modal-title,
.modal-dialog-description-para,
.modal-dialog-description-para > ul > li {
    color: green;
    text-align: center;
    margin: auto;
}
.modal-body {background-image: url(images/chalkboard.jpg);
    background-size: cover;}
.modal-body > ul {
    color: green;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.modal-close-button,
.modal-body img {
    display: block;
    margin: auto;
}
#player-wins-modal .modal-body {
    min-height: 70vh;
}

